* {
    padding:0px;
    margin:0px;
}
body {
    font-family: arial;
    background-color: black;
}
nav a:link, nav a:visited {
    color: white;
    /* Remove o sublinhado */
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    display:inline-block;
}
nav a:hover {
    background-color:white;
    color:black;
}
nav ul {
    /* Remoção dos bullets */
    list-style: none;
    /* Remoção dos espaço em branco à esquerda */
    padding:0px;
    background-color: rgb(62, 131, 163);
    text-align: center;
}
nav li {
    display:inline-block;
}
header h1 {
    background-color: black;
    font-size:40px;
}
header h2 {
    background-color: gray;
    font-size:22px;
}
header h1, header h2 {
    text-align: right;
    padding:10px;
    color:white;
}
section {
    background-color: white;
    margin-left:100px;
    margin-right: 100px;
    padding:30px;
}
section p {
    margin:20px 0px;
}
section ul {
    margin: 30px 0px 30px 50px;
}
.caixaImagem {
    text-align: center;
}