h1 {
    border-bottom: 1px solid orangered;
}

div {
    background-color: rgb(183, 255, 254);
    border-left: 10px solid orangered;
    border-right: 10px solid orangered;
    padding: 30px;
}

p {
    line-height: 2em;
    text-align: justify;
    font-size: 18px;
}